#root {
	 -fx-background-color:  white;
	 -fx-border-color: white;
	 -fx-border-radius: 20;
	 -fx-padding: 10 10 10 10;
	 -fx-background-radius: 20;
	  
	}
	 
	#bp {
	 -fx-background-color:  linear-gradient(lightgray, white);
         -fx-border-width: 20;
         -fx-border-color: burlywood;
         -fx-border-width: 1;
	  
	}
        #bp2 {
	 -fx-background-color: gainsboro;
         -fx-border-width: 20;
         -fx-border-color: burlywood;
	  
	}
        #bpa {
	 -fx-background-color: gainsboro;
         -fx-border-width: 0px 20px 0px 0px;
         -fx-border-color: burlywood;
	  
	}
        #bp1 {
	 -fx-background-color: gainsboro;
      
         -fx-border-color: burlywood;
	   -fx-padding: 20px 0px 0px 0px;
	}
        #bpR {
	 -fx-background-color: gainsboro;
      
         -fx-border-color: burlywood;
	   -fx-padding: 0px 20px 20px 20px;
	}
	 
	#btnLogin {
	    -fx-background-radius: 28, 28, 28, 28;
	    -fx-padding: 3px 10px 3px 10px;
	    -fx-background-color: linear-gradient(lightgrey, white);
	}
	 
	#text 
        {
	 -fx-fill:  linear-gradient(black , black);
	}
        #vBoxT
        {
            -fx-background-color:  burlywood;
	
	
	
        }
         #vBoxT2
        {
            -fx-background-color:  blue;
	
	
	
        }
        #gridP
        {
            -fx-background-color:  linear-gradient(lightgray, gray);
	 -fx-border-color: white;
	 -fx-border-radius: 20;
	 -fx-padding: 0 0 10 10;
	 -fx-background-radius: 20;
        }
        #hBox
        {
          -fx-background-color:  white;
          -fx-border-color:  linear-gradient(lightgray, white);
          -fx-border-width: 0 0 4 0; 
          
           
          	
        }
         #vBoxC
        {
          -fx-background-color:  white;
          -fx-border-color: burlywood;
          -fx-border-width: 20;
         
	
        }
        #hBox1
        {
          -fx-background-color:  linear-gradient(lightgrey, lightblue);
	
        }
        #hs
        {
            -fx-background-color:  linear-gradient(white, burlywood);
        }
        #bId
        {
            
        
           
	 -fx-border-width: 20;
          
        }
        #hbt
        {
           -fx-background-color: burlywood;
           
        }
        #hNext
        {
             -fx-background-color: burlywood;
        }
        #table
        {
            -fx-font-family: "Nyala";
            -fx-font-size: 14;
        }
         #col
        {
            -fx-font-family: "Nyala";
            -fx-font-size: 14;
        }
          #alertD
        {
            -fx-font-family: "Nyala";
            -fx-font-size: 14;
        }


   
.myDialog > *.button-bar > *.container{
    -fx-background-color: #a9e200;
    -fx-font-family: "Nyala";
}
.myDialog > *.label.content{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Nyala";
}
.myDialog:header *.header-panel{
    -fx-background-color: #a59c31;
    -fx-font-family: "Nyala";
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #a9e200;
    -fx-font-family: "Nyala";
}
.myDialog1 > *.button-bar > *.container{
    -fx-background-color: #a9e200;
    -fx-font-family: "Nyala";
}
.myDialog1 > *.label.content{
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-font-family: "Nyala";
}
.myDialog1:header *.header-panel{
    -fx-background-color: #a59c31;
    -fx-font-family: "Nyala";
}
.myDialog1:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: #292929;
    -fx-font-family: "Nyala";
}
       




